*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background: rgba(128, 128, 128, 0.506);
    padding: 100px;
    min-height: 100vh;
}

.todo-app {
    background: white;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 100px;
    padding: 40px 30px 70px;
}
.todo-app h2{
    align-items: center;
    margin-bottom: 20px;
}
#myinput{
    padding: 10px;
    border-radius: 30px;
    border: 1px solid;
}
#addbutton{
    padding: 10px;
    border-radius: 30px;
    border: none;
    background: orange;
    /* border: 2px solid orange; */
}
.tododiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
